<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <%= link_to "Friends App", root_path, class: "navbar-brand text-white" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        
        <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "Home", root_path, class: "nav-link active text-white nav-hover" %>
        </li>
        <li class="nav-item">
          <%= link_to "About", home_about_path, class: "nav-link active text-white nav-hover" %>
        </li>
        <li class="nav-item">
          <%= link_to "All Friends", friends_path, class: "nav-link active text-white nav-hover" %>
        </li>
        <li class="nav-item">
          <%= link_to "Add Friend", new_friend_path, class: "nav-link active text-white nav-hover" %>
        </li>
        <li class="nav-item">
          <%= link_to "Edit Profile", edit_user_registration_path, class: "nav-link active text-white nav-hover" %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "nav-link active text-white nav-hover" %>
        </li>
        <% else %>
        <li class="nav-item">
          <%= link_to "Home", root_path, class: "nav-link active text-white nav-hover" %>
        </li>
        <li class="nav-item">
          <%= link_to "About", home_about_path, class: "nav-link active text-white nav-hover" %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign In", new_user_session_path, class: "nav-link active text-white nav-hover" %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign Up", new_user_registration_path, class: "nav-link active text-white nav-hover" %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

<style>
  .nav-hover:hover {
    color: blue !important;
  }
</style>
